<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MobileSuite">

    <listeners>
        <listener class-name="Base.ExtentTestListener"/>
    </listeners>

    <test name="SmartSortFlowTest">
        <classes>
<!--REGISTRATION FLOW -->
<!--            <class name="Testcase.ASmartSortRegistrationFlowTest"/>-->
            <class name="Testcase.BSmartSortRegistrationArabicFlowTest"/>
<!--ORDER FLOW-->
<!--            <class name="Testcase.CRequestorOrderPlacingFlowTest"/>-->
<!--            <class name="Testcase.DRequestorDirectDeliveryOrderPlacingFlowTest"/>-->
<!--REQUESTOR FLOW-->
<!--            <class name="Testcase.ERequestorRedeemFlowTest"/>-->
<!--            <class name="Testcase.FRequestorRescheduleFlowTest"/>-->
<!--            <class name="Testcase.GRequestorOrderCancellingFlowTest"/>-->
<!--            <class name="Testcase.HSmartBotChatFlowTest"/>-->
<!--            <class name="Testcase.ISmartBotTicketManagementFlowTest"/>-->
<!--            <class name="Testcase.JProfileViewBasicFeaturesFlowTest"/>-->
<!--            <class name="Testcase.KCustomerCareServicesFlowTest"/>-->
<!--            <class name="Testcase.LNotificationsFlowTest"/>-->
<!--            <class name="Testcase.MOrderDetailsFlowTest"/>-->
        </classes>
    </test>
</suite>