<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MobileSuite">

    <listeners>
        <listener class-name="Base.ExtentTestListener"/>
    </listeners>

    <test name="SmartSortFlowTest">
        <classes>
<!--REGISTRATION FLOW -->
<!--            <class name="Testcase.ASmartSortRegistrationFlowTest"/>-->
<!--            <class name="Testcase.BSmartSortRegistrationArabicFlowTest"/>-->

<!--DOOR PICKUP & DIRECT DELIVERY FULL ORDER PLACING & COMPLETION FLOW-->
<!--            <class name="Testcase.C1RequestorOrderPlacingFlowTest"/>-->
<!--            <class name="Testcase.C2RequestorDirectDeliveryOrderPlacingFlowTest"/>-->
<!--            <class name="Testcase.C3CollectorUtilityOrderCompleteFlowTest"/>-->
<!--            <class name="Testcase.C4CollectionCenterAcceptOrderFlowTest"/>-->
<!--            <class name="Testcase.C5CollectorNavigateToCollectionCenterFlowTest"/>-->
<!--            <class name="Testcase.C6CollectionCenterUpdateQuantityFlowTest"/>-->
<!--            <class name="Testcase.C7CollectionCenterDirectDeliveryOrderFlowTest"/>-->

<!--REQUESTOR FLOW-->
<!--            <class name="Testcase.DRequestorRedeemFlowTest"/>-->
            <class name="Testcase.E1PlaceOrderForRescheduleFlowTest"/>
            <class name="Testcase.E2RequestorRescheduleFlowTest"/>
            <class name="Testcase.F1PlaceOrderForCancelFlowTest"/>
            <class name="Testcase.F2RequestorOrderCancellingFlowTest"/>
<!--            <class name="Testcase.GSmartBotChatFlowTest"/>-->
<!--            <class name="Testcase.HSmartBotTicketManagementFlowTest"/>-->
<!--            <class name="Testcase.IProfileViewBasicFeaturesFlowTest"/>-->
<!--            <class name="Testcase.JCustomerCareServicesFlowTest"/>-->
<!--            <class name="Testcase.KNotificationsFlowTest"/>-->
<!--            <class name="Testcase.LOrderDetailsFlowTest"/>-->
<!--            <class name="Testcase.NAccountDeleteFlowTest"/>-->

<!--REFER AND EARN FLOW-->
<!--            <class name="Testcase.O1ReferAndEarnFlowTest"/>-->
<!--            <class name="Testcase.O2CollectorUtilityOrderCompleteFlowTest"/>-->
<!--            <class name="Testcase.O3VerifyReferralPointsFlowTest"/>-->
        </classes>
    </test>
</suite>